
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
<h3>Search Enginees</h3>


<ul>
    
   <li><a href="http://www.google.com">Google</a></li>
    <li><a href="http://www.Bing.com">Bing</a></li>
    <li><a href="http://www.yahoo.com">Yahoo</a></li>

</ul>

